@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700&display=swap');

.navbar-brand {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.nav-item a:hover {
    font-weight: 500;
    color: black;
    text-decoration: underline;
}